@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    font-family: 'poppins', sans-serif;
  }
  
  .nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #ff4141;
  }

  
  .bg-linear{
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  }

  .bg-radial {
    background: linear-gradient(180deg, #fde1ff, #e1ffea99 90%);
  }

  .hero p {
    color: #171717;
    font-size: 50px;
    font-weight: 700;
  }


  .grid_cols {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 10px 0px;
    color: #454545;
    font-size: 18px;
  }

