@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    font-family: 'Poppins', sans-serif;
  }
  
  
  .nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #ff4141;
  }